<h1>Update a Bookmark</h1>

<% if policy(@bookmark).update? %>
  <%= render partial: 'form', locals: { topic: @topic, bookmark: @bookmark } %>
<% else %>
  <%= flash[:notice] = "You are unauthorized to edit a bookmark." %>
<% end %>