<h1>Add a New Bookmark</h1>

<% if policy(@bookmark).create? %>
  <%= render partial: 'form', locals: { topic: @topic, bookmark: @bookmark } %>
<% else %>
  <%= flash[:notice] = "You are unauthorized to add a new bookmark." %>
<% end %>